{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flurrent | Sign In Page</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Finder - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #666276;;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #bbb7c5;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }

      .mk-pointer{
        cursor: pointer;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
    </script>
    <!-- {% static 'vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
  </head>
  <!-- Body-->
  <body class="bg-secondary">
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <main class="page-wrapper">
      <!-- Page content-->
      <div class="container-fluid d-flex h-100 align-items-center justify-content-center py-4 py-sm-5">
        <div class="card card-body" style="max-width: 940px"><a class="position-absolute top-0 end-0 nav-link fs-sm py-1 px-2 mt-3 me-3" href="#" onclick="window.history.go(-1); return false;"><i class="fi-arrow-long-left fs-base me-2"></i>Go back</a>
          <div class="row mx-0 align-items-center">
            <div class="col-md-6 border-end-md p-2 p-sm-5">
              <h2 class="h3 mb-4 mb-sm-5">Register!<br>To boost your business.</h2>
              <img class="d-block mx-auto" src="{% static 'img/signin-modal/signin.svg' %}" width="344" alt="Illustartion">
              <div class="mt-4 mt-sm-5">Already registered? <a href="{% url 'authentication:login' %}">Login here</a></div>
            </div>
            <div class="col-md-6 px-2 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
              
              <img src="{% static 'img/logo/logo-flurrent.png' %}" width="100" class="mb-4" alt="">


              <div>
                <div class="bg-light rounded-3 py-2 mb-3 px-0">
                    <div class="steps pt-4 pb-1">
                      <div class="step mk-pointer active" id="step-1-icon" onclick="show_section('1', true)">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">1</span></div>
                        <div class="step-label">Personal info</div>
                      </div>
                      <div class="step mk-pointer" id="step-2-icon" onclick="show_section('2', true)">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">2</span></div>
                        <div class="step-label">Profile type</div>
                      </div>
                      <div class="step mk-pointer" id="step-3-icon" onclick="show_section('3', true)">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">3</span></div>
                        <div class="step-label">Set password</div>
                      </div>
                    </div>
                </div>


                <div>
                    <form method="post" class="needs-validation" action="{% url 'authentication:signup2' %}" id="signup-form">
                        {% csrf_token %}
                        <div id="step-1" class="register-form-section">
                            <div class="mb-4">
                                <label class="form-label mb-2">First Name</label>
                                <input class="form-control" type="text" name="first_name" id="first_name"  value="{{ personal_info.data.first_name }}" placeholder="Enter first name" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label mb-2">Last Name</label>
                                <input class="form-control" type="text" name="last_name"  id="last_name" value="{{ personal_info.data.last_name }}" placeholder="Enter last name" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label mb-2">Email address</label>
                                <input class="form-control" type="email" name="email"  id="email" value="{{ personal_info.data.email }}" placeholder="Enter your email" required>
                            </div>
                        </div>

                        <div id="step-2" class="register-form-section" style="display:none">
                            <!-- Light tabs -->
                            <ul class="nav nav-tabs rounded-3 p-3 nav-tabs-light bg-dark" style="width: fit-content;" role="tablist">
                                <li class="nav-item" onclick="set_profile_tye('organization')">
                                    <a class="nav-link active" href="#" data-bs-toggle="tab" role="tab">
                                        <i class="fi-apartment me-2"></i>
                                        Organization
                                    </a>
                                </li>
                                <li class="nav-item" onclick="set_profile_tye('endorser')">
                                <a class="nav-link" href="#" data-bs-toggle="tab" role="tab">
                                    <i class="fi-user-check me-2"></i>
                                    Endorser
                                </a>
                                </li>
                            </ul>
                            <input type="hidden" id="profile_type" value="organization" name="profile_type" required>
                            <div id="organization-section">
                                <div class="mb-4">
                                    <label class="form-label mb-2">Organization name</label>
                                    <input class="form-control" type="text" id="organization_name" name="organization_name" value="{{ profile_type.data.organization_name }}" placeholder="Enter organization name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label mb-2">Type</label>
                                    <input class="form-control" type="text" id="organization_type" name="organization_type" value="{{ profile_type.data.organization_type }}" placeholder="Enter organization type">
                                </div>
                            </div>

                            <div id="endorser-section" style="display: none;">
                                <!-- <div class="mb-4">
                                    <label class="form-label mb-2">First Name</label>
                                    <input class="form-control" type="text" name="first_name" value="{{ first_name }}" placeholder="Enter first name" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label mb-2">Last Name</label>
                                    <input class="form-control" type="text" name="last_name" value="{{ last_name }}" placeholder="Enter last name" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label mb-2">Email address</label>
                                    <input class="form-control" type="email" name="email" value="{{ email }}" placeholder="Enter your email" required>
                                </div> -->
                            </div>
                           
                        </div>

                        <div id="step-3" class="register-form-section" style="display: none;">
                            <div class="mb-4">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="form-label mb-0">Password</label>
                                </div>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" value="{{ set_password.data.password1 }}" id="password1" placeholder="Enter password" name="password1" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="form-label mb-0">Password</label>
                                </div>
                                <div class="password-toggle">
                                    <input class="form-control" type="password"  value="{{ set_password.data.password2 }}"  id="password2" placeholder="Confirm password" name="password2" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                          
                        </div>

                        {% include 'inc/msg.inc.html' %}

                        <div class="alert alert-primary d-flex d-none" role="alert" id="next-step-error">
                            <i class="fi-bell me-2 me-sm-3 lead"></i>
                            <div>Enter valid details to continue</div>
                        </div>

                        <div>
                            <button onclick="next_step()" class="btn btn-primary btn-lg rounded-pill ms-sm-auto" type="button">
                                <span id="next-step-button">Next step</span>
                                <i class="fi-chevron-right fs-sm ms-2"></i>
                            </button>
                        </div>
        
                        <!-- <button class="btn btn-primary btn-lg w-100" type="submit">Sign in</button> -->
                      </form>
                  </div>


              </div>

              <div class="row justify-content-center pb-sm-2">
                <div class="col-lg-11 col-xl-10">
                  <!-- Steps-->
                 

                  

                  <!-- Step 1: Basic Info-->
                  <!-- <div class="bg-light rounded-3 p-4 p-md-5 mb-3">
                    <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Basic info</h2>
                    <div class="row">
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-fn">First name <span class='text-danger'>*</span></label>
                        <input class="form-control form-control-lg" type="text" id="pr-fn" value="Annette" placeholder="Enter your first name" required>
                      </div>
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-sn">Second name <span class='text-danger'>*</span></label>
                        <input class="form-control form-control-lg" type="text" id="pr-sn" value="Black" placeholder="Enter your second name" required>
                      </div>
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-email">Email address <span class='text-danger'>*</span></label>
                        <input class="form-control form-control-lg" type="email" id="pr-email" value="annette_black@email.com" placeholder="Enter your email address" required>
                      </div>
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-phone">Phone</label>
                        <input class="form-control form-control-lg" type="text" id="pr-phone" value="(302) 555-0107" placeholder="Enter your phone number">
                      </div>
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-birth-date">Date of birth <span class='text-danger'>*</span></label>
                        <div class="input-group input-group-lg">
                          <input class="form-control date-picker rounded pe-5" type="text" id="pr-birth-date" placeholder="Choose date" data-datepicker-options="{&quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y&quot;, &quot;dateFormat&quot;: &quot;Y-m-d&quot;}"><i class="fi-calendar text-muted position-absolute top-50 end-0 translate-middle-y me-3"></i>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-country">Country where you want to work <span class='text-danger'>*</span></label>
                        <select class="form-select form-select-lg" id="pr-country" required>
                          <option value="" disabled selected>Choose country</option>
                          <option value="Australia">Australia</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Canada">Canada</option>
                          <option value="China">China</option>
                          <option value="Denmark">Denmark</option>
                          <option value="France">France</option>
                          <option value="Germany">Germany</option>
                          <option value="Japan">Japan</option>
                          <option value="UK">UK</option>
                          <option value="USA">USA</option>
                        </select>
                      </div>
                      <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-city">City where you want to work <span class='text-danger'>*</span></label>
                        <select class="form-select form-select-lg" id="pr-city" required>
                          <option value="" disabled selected>Choose city</option>
                          <option value="Beijing">Beijing</option>
                          <option value="Berlin">Berlin</option>
                          <option value="Brussels">Brussels</option>
                          <option value="Copenhagen">Copenhagen</option>
                          <option value="London">London</option>
                          <option value="Ottawa">Ottawa</option>
                          <option value="Paris">Paris</option>
                          <option value="Sydney">Sydney</option>
                          <option value="Tokyo">Tokyo</option>
                          <option value="Washington">Washington</option>
                        </select>
                      </div>
                      <div class="col-12 mb-4">
                        <label class="form-label" for="pr-address">Your address</label>
                        <input class="form-control form-control-lg" type="text" id="pr-address" placeholder="Enter the address">
                      </div>
                    </div>
                    <div class="pb-4 mb-2">
                      <label class="form-label fw-bold mb-3">Socials</label>
                      <div class="d-flex align-items-center mb-3">
                        <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-facebook text-body"></i></div>
                        <input class="form-control" type="text" placeholder="Your Facebook account">
                      </div>
                      <div class="d-flex align-items-center mb-3">
                        <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-linkedin text-body"></i></div>
                        <input class="form-control" type="text" placeholder="Your LinkedIn account">
                      </div>
                      <div class="d-flex align-items-center mb-3">
                        <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-twitter text-body"></i></div>
                        <input class="form-control" type="text" placeholder="Your Twitter account">
                      </div>
                      <div class="collapse" id="showMoreSocials">
                        <div class="d-flex align-items-center mb-3">
                          <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-instagram text-body"></i></div>
                          <input class="form-control" type="text" placeholder="Your Instagram account">
                        </div>
                        <div class="d-flex align-items-center mb-3">
                          <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-behance text-body"></i></div>
                          <input class="form-control" type="text" placeholder="Your Behance account">
                        </div>
                      </div><a class="collapse-label collapsed d-inline-block fs-sm fw-bold text-decoration-none pt-2" href="#showMoreSocials" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="showMoreSocials"><i class="fi-arrow-down me-2"></i></a>
                    </div>
                    <div class="border-top pt-4">
                      <label class="form-label fw-bold py-2 mb-1" for="pr-position">Position you want to work on</label>
                      <input class="form-control form-control-lg mb-4" type="text" id="pr-position" placeholder="Indicate the position" required>
                      <label class="form-label fw-bold pb-1 mb-2">Choose categories for posting resume</label>
                      <div class="row row-cols-sm-2 row-cols-md-4 gx-3 gx-lg-4 mb-4">
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="accounting">
                            <label class="form-check-label" for="accounting">Accounting</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="marketing" checked>
                            <label class="form-check-label" for="marketing">Marketing &amp; PR</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="medicine">
                            <label class="form-check-label" for="medicine">Medicine</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="agriculture">
                            <label class="form-check-label" for="agriculture">Agriculture</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="it" checked>
                            <label class="form-check-label" for="it">Internet technology</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="security">
                            <label class="form-check-label" for="security">Security</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="management">
                            <label class="form-check-label" for="management">Management</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="horeca">
                            <label class="form-check-label" for="horeca">HoReCa</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="design" checked>
                            <label class="form-check-label" for="design">Design, creativity</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sport">
                            <label class="form-check-label" for="sport">Fitness &amp; sports</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="beauty">
                            <label class="form-check-label" for="beauty">Beauty</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="culture">
                            <label class="form-check-label" for="culture">Culture</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="music">
                            <label class="form-check-label" for="music">Music</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="logistics">
                            <label class="form-check-label" for="logistics">Logistics</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="education">
                            <label class="form-check-label" for="education">Education &amp; science</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sales">
                            <label class="form-check-label" for="sales">Sales &amp; purchases</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="industry">
                            <label class="form-check-label" for="industry">Industry</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="transportation">
                            <label class="form-check-label" for="transportation">Transportation</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="media">
                            <label class="form-check-label" for="media">Mass media &amp; publishing</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="insurance">
                            <label class="form-check-label" for="insurance">Insurance</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="construction">
                            <label class="form-check-label" for="construction">Construction</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="architecture">
                            <label class="form-check-label" for="architecture">Architecture</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hr">
                            <label class="form-check-label" for="hr">HR management</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="law">
                            <label class="form-check-label" for="law">Law</label>
                          </div>
                        </div>
                      </div>
                      <label class="form-label fw-bold pb-1 mb-2">Job type</label>
                      <div class="row row-cols-sm-2 row-cols-md-4 gx-3 gx-lg-4 mb-4">
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="full-time">
                            <label class="form-check-label" for="full-time">Full-time</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="part-time" checked>
                            <label class="form-check-label" for="part-time">Part-time</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remote">
                            <label class="form-check-label" for="remote">Remote</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="temporary" checked>
                            <label class="form-check-label" for="temporary">Temporary</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="contract">
                            <label class="form-check-label" for="contract">Contract</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="internship">
                            <label class="form-check-label" for="internship">Internship</label>
                          </div>
                        </div>
                      </div>
                      <label class="form-label fw-bold pb-1 mb-2">Salary range</label>
                      <div class="row gx-2 gx-lg-3 gx-xl-4">
                        <div class="col-md-2 mb-3 mb-md-0">
                          <select class="form-select form-select-lg">
                            <option value="usd">&#36;</option>
                            <option value="eur">&#8364;</option>
                            <option value="gbp">&#163;</option>
                            <option value="jpy">&#165;</option>
                          </select>
                        </div>
                        <div class="col-md-7 mb-3 mb-md-0">
                          <div class="d-flex align-items-center">
                            <input class="form-control form-control-lg" type="number" step="100" min="300" placeholder="From">
                            <div class="mx-2">&mdash;</div>
                            <input class="form-control form-control-lg" type="number" step="100" min="500" placeholder="To">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <select class="form-select form-select-lg">
                            <option value="monthly">monthly</option>
                            <option value="per hour">per hour</option>
                            <option value="weekly">weekly</option>
                            <option value="annually">annually</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- Navigation-->
                 
                </div>
              </div>


              

              <!-- <br>
              <div class="d-flex align-items-center py-3 mb-3">
                <hr class="w-100">
                <div class="px-3">Or</div>
                <hr class="w-100">
              </div>

              <a class="btn btn-outline-info w-100 mb-3" href="#"><i class="fi-google fs-lg me-1"></i>Sign in with Google</a>
              <a class="btn btn-outline-info w-100 mb-3" href="#"><i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook</a> -->

            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
    <!-- {% static 'vendor scrits: js libraries and plugins-->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>

    <script>
        let states = {
            1: false,
            2: false,
            3: false
        }
        let current_step = 1;
        function show_section(id, is_through_click = false){
            console.log(states);
            if (!is_through_click || (states[parseInt(id)] || states[parseInt(id) + 1])) {
                current_step = parseInt(id);
                $(".register-form-section").hide();
                $(`#step-${id}`).show(); 
                $(".step").removeClass("active");
                for (let i = current_step; i >= 1; i--) {
                    $(`#step-${i}-icon`).addClass("active");
                }

                if (current_step == 3) {
                    $("#next-step-button").text("Submit to register");
                }else{
                    $("#next-step-button").text("Next step");
                }
            }

    

            // Change text of next step button
            // }
        }

        function set_profile_tye(type) {
            $("#profile_type").val(type);
        }

        function next_step(){
            if (current_step == 1) {
                let first_name = $("#first_name").val();
                let last_name = $("#last_name").val();
                let email = $("#email").val();
                if (first_name && last_name && email) {
                    states[1] = true;
                    $("#next-step-error").addClass("d-none");
                    current_step += 1;
                    show_section(current_step);
                }else{
                    $("#next-step-error").removeClass("d-none");
                }
                return;
            }

            if (current_step == 2) {
                let profile_type = $("#profile_type").val();
                if (profile_type == "organization") {
                    let org_name = $("#organization_name").val();
                    let org_type = $("#organization_type").val();
                    if (org_name && org_type) {
                        states[2] = true;
                        $("#next-step-error").addClass("d-none");
                        current_step += 1;
                        show_section(current_step);
                    }else{
                        $("#next-step-error").removeClass("d-none");
                    }
                    return;
                }

                if (profile_type == "endorser") {
                    console.log("abc");
                }
            
            }


            if (current_step == 3) {
                let password1 = $("#password1").val();
                let password2 = $("#password2").val();
                if (password1 && password2 && password1 == password2) {
                    console.log("asdsad");
                    document.getElementById("signup-form").submit();
                }else{
                    $("#next-step-error").removeClass("d-none");
                }
            }

            
        }
    </script>

</body>

</html>


