{% load static %}


<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-scroll-header>
    <div class="container">

      <a class="navbar-brand me-0 me-xl-4" href="{% url 'core:landing' %}">
        <img class="d-block" src="{% static 'img/logo/logo-endorsers.png' %}" width="116" alt="Finder" style="border-radius: 10px;">
      </a>

     <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      
    </div>
</header>
