{% extends 'inc/base.html' %}

{% block custom_css %}


{% endblock custom_css %}

{% block title %}
  Flurrent | Skills
{% endblock title %}

{% block content %}
<br>
<div class="container mt-5 pt-5 p-0">
    {% include 'inc/msg.inc.html' %}

  <div class="row g-0 mt-n3">
    <!-- Filters sidebar (Offcanvas on mobile)-->
    <div class="col-lg-4 col-xl-4 position-relative overflow-hidden pb-5 pt-4">
        <h4>Related skills</h4>
        <div class="mt-3">
            {% for single_skill in related_skills %}
                <div class="card text-left p-0 h-100 {% if single_skill.id == skill.id %}skill-card-active text-primary{% endif %} skill-card" style="border-radius:0px">
                    <div class="card-body" style="border-radius:0px">
                        <!-- <span class="badge badge-pill badge-primary bg-success">Quiz available</span> -->
                        <a class="text-decoration-none text-grey" href="{% url 'skills:single_skill' single_skill.id %}">
                            <p class="card-title mb-0" title="{{ single_skill.name }}">
                                {{ single_skill|truncatechars:40 }}
                            </p>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    
    <!-- Page content-->
    <div class="col-lg-8 col-xl-8 position-relative overflow-hidden pb-5 pt-4 px-2 px-xl-4 px-xxl-5">
      <!-- Map popup-->
     
      <!-- Breadcrumb-->
      
      <!-- Title-->
    <div class="pb-1 pb-sm-2">
        <a href="#" class="my-2 text-primary text-decoration-none ">{{ category.name }}</a>
        <h1 class="h2 mb-sm-0 my-2">{{ skill.name }}</h1>
        <p class="mt-3">{{ skill.description }}</p>
    </div>

    


      <!-- Sorting-->
      <!-- <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
        <div class="d-flex align-items-center flex-shrink-0">
          <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
          <select class="form-select form-select-sm" id="sortby">
            <option>Newest</option>
            <option>Popularity</option>
            <option>Low - High Price</option>
            <option>High - Low Price</option>
            <option>High rating</option>
            <option>Average Rating</option>
          </select>
        </div>
        <hr class="d-none d-sm-block w-100 mx-4">
        <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i class="fi-check-circle me-2"></i><span class="fs-sm mt-n1">{{ all_skills.count }} results</span></div>
      </div> -->



      <!-- Catalog grid-->
      <div>


        {% if not all_quiz %}
            {% include 'inc/no-result.html' with data_type='quiz for this skill' %}
        {% else %}
            <h5 class="text-muted mb-4">Pick test to win the badge</h5>
        {% endif %}

        {% for quiz in all_quiz %}
        <a class="text-decoration-none" href="{% url 'skills:quiz_instructions' quiz.skill.id quiz.id %}">

            <!-- Quiz. is necessary -->
            {% include 'inc/quiz_info_card.inc.html' %}

        </a>

        {% endfor %}

        


    
        
      </div>


    </div>
  </div>
</div>

<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar"><i class="fi-filter me-2"></i>Filters</button>


{% endblock content %}