{% extends 'inc/base.html' %}
{% load static %}
{% block title %}
  Flurrent | Received application
{% endblock title %}


{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock custom_css %}

{% block content %}


<main class="page-wrapper">


    <section class=" pt-5">

        <div class="container py-5">

            <!-- Breadcrumb-->
            <nav class="my-3" aria-label="Breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="job-board-home-v1.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="job-board-catalog.html">Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Manage Orders</li>
                </ol>
            </nav>

            <div>
                <h2 class="dark-color">Manage Orders</h2>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs mt-5" role="tablist">
                <li class="nav-item ">
                    

                    <a href="#home1" class="nav-link active" data-bs-toggle="tab" role="tab">
                        Active
                        <span class="badge rounded-pill m-0 mx-1 bg-primary">4</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#profile1" class="nav-link" data-bs-toggle="tab" role="tab">
                        Complete
                        <span class="badge rounded-pill m-0 mx-1 bg-success">4</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#messages1" class="nav-link" data-bs-toggle="tab" role="tab">
                        Cancelled
                        <span class="badge rounded-pill m-0 mx-1 bg-danger">2</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </section>
    <!-- Page content-->
    <section class="position-relative bg-white rounded-xxl-4 zindex-5" style="margin-top: -50px;">
        <div class="container pt-4 pb-5 mb-md-4">


            <!-- Tabs content -->
            <div class="tab-content">

                <!-- table 1 All transactions -->
                <div class="tab-pane fade show active border rounded-3" id="home1" role="tabpanel">
                    {% if orders.list %}
                    <div class="table-responsive ">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th style="min-width: 300px;">Organizations
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 180px;">Date
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 300px;">Due on
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 200px;">Total
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 200px;">Status
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th>
                                        Option
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders.list %}
                                <tr>
                                    <td class="d-flex align-items-center py-3">
                                        <img src="{{ order.organization.logo.url }}" width="50" class="rounded-1" alt="">
                                        <div class="mx-3">
                                            <h6 class="m-0 p-0">{{ order.organization.name }}</h6>
                                            <!-- <p class="mb-0 d-flex align-items-center">
                                                <i class="fi-star-filled text-warning" style="margin-right: 8px;"></i>
                                                <span class="text-warning">{{ order.service_provider.getEndorserReviews.average }}</span>
                                                
                                            </p> -->
                                        </div>
                                    </td>
                                    <td class="pt-3">{{ order.created_at.date }}</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$ {{ order.price }}</th>
                                    <td>
                                        <span class="badge bg-success">{{ order.status }}</span>
                                    </td>
                                    <td>
                                        <div class="mk-pointer">
                                            <a href="{% url 'endorsers:single-order' order.id %}">
                                                <i class="fi-eye-on mx-2"></i> View
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}

                        {% include 'inc/no-result.html' with data_type='placed orders' %}


                    {% endif %}
                </div>

                <!-- table 2 receive transactions -->
                <div class="tab-pane fade border rounded-3" id="profile1" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th style="min-width: 300px;">Endorsers
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 180px;">Date
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 300px;">Due on
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 200px;">Total
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 200px;">Status
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fi-star mt-3 text-warning mx-2"></i></td>
                                    <td class="d-flex align-items-center py-0">
                                        <img src="{% static 'img/avatars/05.jpg' %}" width="60" class="rounded-1" alt="">
                                        <div class="pt-3 mx-2">
                                            <h6 class="m-0 p-0">Syed Maaz </h6>
                                            <p style="font-weight: 100; color: grey;">Seafood, +3</p>
                                        </div>
                                    </td>
                                    <td class="pt-3">13/02/2023</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$489.00</th>
                                    <td>
                                        <span class="badge bg-success">COMPLETED</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><i class="fi-star mt-3 mx-2"></i></td>
                                    <td class="d-flex align-items-center py-0">
                                        <img src="{% static 'img/avatars/08.jpg' %}" width="60" class="rounded-1" alt="">
                                        <div class="pt-3 mx-2">
                                            <h6 class="m-0 p-0">Syed Maaz </h6>
                                            <p style="font-weight: 100; color: grey;">Seafood, +3</p>
                                        </div>
                                    </td>
                                    <td class="pt-3">13/02/2023</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$489.00</th>
                                    <td>
                                        <span class="badge bg-success">COMPLETED</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><i class="fi-star mt-3 mx-2"></i></td>
                                    <td class="d-flex align-items-center py-0">
                                        <img src="{% static 'img/avatars/01.jpg' %}" width="60" class="rounded-1" alt="">
                                        <div class="pt-3 mx-2">
                                            <h6 class="m-0 p-0">Syed Maaz </h6>
                                            <p style="font-weight: 100; color: grey;">Seafood, +3</p>
                                        </div>
                                    </td>
                                    <td class="pt-3">13/02/2023</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$489.00</th>
                                    <td>
                                        <span class="badge bg-success">COMPLETED</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><i class="fi-star mt-3 mx-2"></i></td>
                                    <td class="d-flex align-items-center py-0">
                                        <img src="{% static 'img/avatars/03.jpg' %}" width="60" class="rounded-1" alt="">
                                        <div class="pt-3 mx-2">
                                            <h6 class="m-0 p-0">Syed Maaz </h6>
                                            <p style="font-weight: 100; color: grey;">Seafood, +3</p>
                                        </div>
                                    </td>
                                    <td class="pt-3">13/02/2023</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$489.00</th>
                                    <td>
                                        <span class="badge bg-success">COMPLETED</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- table 3 sent transactions -->
                <div class="tab-pane fade border rounded-3" id="messages1" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th style="min-width: 300px;">Endorsers
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 180px;">Date
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 300px;">Due on
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 200px;">Total
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                    <th style="min-width: 200px;">Status
                                        <i class="fi-chevron-down mx-1" style="font-size: 10px;"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fi-star mt-3 mx-2"></i></td>
                                    <td class="d-flex align-items-center py-0">
                                        <img src="{% static 'img/avatars/08.jpg' %}" width="60" class="rounded-1" alt="">
                                        <div class="pt-3 mx-2">
                                            <h6 class="m-0 p-0">Elon</h6>
                                            <p style="font-weight: 100; color: grey;">Seafood, +3</p>
                                        </div>
                                    </td>
                                    <td class="pt-3">13/02/2023</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$489.00</th>
                                    <td>
                                        <span class="badge bg-danger">Cancelled</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fi-star mt-3 mx-2"></i></td>
                                    <td class="d-flex align-items-center py-0">
                                        <img src="{% static 'img/avatars/06.jpg' %}" width="60" class="rounded-1" alt="">
                                        <div class="pt-3 mx-2">
                                            <h6 class="m-0 p-0">Sara</h6>
                                            <p style="font-weight: 100; color: grey;">Seafood, +3</p>
                                        </div>
                                    </td>
                                    <td class="pt-3">13/02/2023</td>
                                    <td>Dec 20, 2022</td>
                                    <th>$489.00</th>
                                    <td>
                                        <span class="badge bg-danger">Cancelled</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>





        </div>
    </section>


</main>




{% endblock content %}
