{% extends 'end_profile/inc/profile.html' %}
{% load static %}

{% block section_content %}

<div>

    <div class="progress mb-4" style="height: .25rem;">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <label class="form-label pt-2" for="account-bio">Short bio</label>
    <div class="row pb-2">
      <div class="col-lg-9 col-sm-8 mb-4">
        <textarea class="form-control" name="bio" id="account-bio" rows="6" placeholder="Write your bio here. It will be displayed on your public profile.">{% if user.bio %}{{ user.bio }}{% endif %}</textarea>
      </div>
      <div class="col-lg-3 col-sm-4 mb-4">
        <input 
            name="profile_pic" 
            class="file-uploader bg-secondary" 
            type="file" 
            accept="image/png, image/jpeg, image/jpg" 
            data-label-idle="&lt;i class=&quot;d-inline-block fi-camera-plus fs-2 text-muted mb-2&quot;&gt;&lt;/i&gt;&lt;br&gt;&lt;span class=&quot;fw-bold&quot;&gt;Change picture&lt;/span&gt;" 
            data-style-panel-layout="compact" 
            data-image-preview-height="160" 
            data-image-crop-aspect-ratio="1:1" 
            data-image-resize-target-width="200" 
            data-image-resize-target-height="200">
      </div>
    </div>
    <div class="border rounded-3 p-3 mb-4" id="personal-info">
      <!-- Name-->
      <div class="border-bottom pb-3 mb-3">
        <div class="d-flex align-items-center justify-content-between">
          <div class="pe-2">
            <label class="form-label fw-bold">Name</label>
            <div id="name-value">{{ user.getFullName }}</div>
          </div>
          <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
        </div>
        <div class="collapse" id="name-collapse" data-bs-parent="#personal-info">
          <div class="row">
            <div class="col-sm-6">
                <input class="form-control mt-3" name="first_name" type="text" data-bs-unset-value="Not specified" value="{{ user.first_name }}">
            </div>
            <div class="col-sm-6">
                <input class="form-control mt-3" name="last_name" type="text" data-bs-unset-value="Not specified" value="{{ user.last_name }}">
            </div>
          </div>
        </div>
      </div>
      <!-- Email-->
      <div class="border-bottom pb-3 mb-3">
        <div class="d-flex align-items-center justify-content-between">
          <div class="pe-2">
            <label class="form-label fw-bold">Email</label>
            <div id="email-value">{{ user.email }}</div>
          </div>
          <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#email-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
        </div>
        <div class="collapse" id="email-collapse" data-bs-parent="#personal-info">          
            <input class="form-control mt-3" type="email" data-bs-binded-element="#email-value" data-bs-unset-value="Not specified" value="{{ user.email }}" readonly disabled>
        </div>
      </div>
      <!-- Phone number-->
      <div class="border-bottom pb-3 mb-3">
        <div class="d-flex align-items-center justify-content-between">
          <div class="pe-2">
            <label class="form-label fw-bold">Phone number</label>
            <div id="phone-value">{% if user.phone %}{{ user.phone }}{% else %}Not added yet{% endif %}</div>
          </div>
          <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#phone-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
        </div>
        <div class="collapse" id="phone-collapse" data-bs-parent="#personal-info">
          <input class="form-control mt-3" type="text" name="phone" data-bs-unset-value="Not specified" value="{{ user.phone }}">
        </div>
      </div>
   

    </div>
    <!-- Socials-->
    <!-- <div class="pt-2">
      <label class="form-label fw-bold mb-3">Socials</label>
    </div>
    <div class="d-flex align-items-center mb-3">
      <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-facebook text-body"></i></div>
      <input class="form-control" type="text" placeholder="Your Facebook account">
    </div>
    <div class="d-flex align-items-center mb-3">
      <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-linkedin text-body"></i></div>
      <input class="form-control" type="text" placeholder="Your LinkedIn account">
    </div>
    <div class="d-flex align-items-center mb-3">
      <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-twitter text-body"></i></div>
      <input class="form-control" type="text" placeholder="Your Twitter account">
    </div>
    <div class="collapse" id="showMoreSocials">
      <div class="d-flex align-items-center mb-3">
        <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-instagram text-body"></i></div>
        <input class="form-control" type="text" placeholder="Your Instagram account">
      </div>
      <div class="d-flex align-items-center mb-3">
        <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-pinterest text-body"></i></div>
        <input class="form-control" type="text" placeholder="Your Pinterest account">
      </div>
    </div><a class="collapse-label collapsed d-inline-block fs-sm fw-bold text-decoration-none pt-2 pb-3" href="#showMoreSocials" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="showMoreSocials"><i class="fi-arrow-down me-2"></i></a> -->
            
  </div>

  <script>

    $(".filepond--browser").on("change", function () {
        console.log(this);
    });
  </script>

{% endblock section_content %}