{% extends 'inc/base.html' %}
{% load static %}
{% block title %}
  Flurrent | My profile
{% endblock title %}

{% block content %}

 <!-- Page content-->
 <div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
    <!-- Breadcrumb-->
    <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="real-estate-home-v1.html">Home</a></li>
        <li class="breadcrumb-item"><a href="real-estate-account-info.html">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
      </ol>
    </nav>
    <!-- Page content-->
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
        <!-- Account nav-->
        {% include 'org_profile/inc/side-options.html' %}
      </aside>
      <!-- Content-->
      <div class="col-lg-8 col-md-7 mb-5">
        <h1 class="h2">{{ title }}</h1>
        <div class="mb-2 pt-1">{{ subtitle }}</div>
        
        {% include 'inc/msg.inc.html' %}

        <form action="{% url 'org:profile' section %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {% block section_content %}
          
          {% endblock section_content %}

          {% if button_text %}
          <div class="d-flex align-items-center justify-content-between border-top mt-4 pt-4 pb-1">
            <button class="btn btn{{outline}}-primary px-3 px-sm-4" type="submit">{{ button_text }}</button>
            <!-- <button class="btn btn-link btn-sm px-0" type="button"><i class="fi-trash me-2"></i>Delete account</button> -->
          </div>
          {% endif %}
          
        </form>

      </div>
    </div>
  </div>


{% endblock content %}