{% extends 'org_profile/inc/profile.html' %}
{% load static %}

{% block section_content %}

<!-- Modal markup -->
<div class="modal" tabindex="-1" role="dialog" id="add-staff-member">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add staff member</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'org:profile' 'staff' %}" method="post">
            {% csrf_token %}
        <div class="modal-body">
              
              <div class="mb-4">
                <label class="form-label mb-2">First name</label>
                <input class="form-control" type="text" name="staff_first_name" placeholder="Enter first name" required>
              </div>
              <div class="mb-4">
                <label class="form-label mb-2">Last name</label>
                <input class="form-control" type="text" name="staff_last_name" placeholder="Enter last name" required>
              </div>
              <div class="mb-4">
                <label class="form-label mb-2">Designation</label>
                <input class="form-control" type="text" name="staff_designation" placeholder="Enter designation" required>
              </div>
              <div class="mb-4">
                <label class="form-label mb-2">Email address</label>
                <input class="form-control" type="email" name="staff_email" placeholder="Enter email" required>
              </div>
              <div class="mb-4">
                <label class="form-label mb-2">Profile picture (optional)</label>
                <input class="form-control" name="staff_profile_pic" type="file">

              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <label class="form-label mb-0" for="signin-password">Password</label>
                  
                </div>
                <div class="password-toggle">
                  <input class="form-control" type="password" placeholder="Enter password" name="staff_password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>


<div>

    <div class="mt-2">
       

        <section class="p-0 my-3">
            <!-- <p class="h4 mb-4">
                <i class="fi-users text-primary fs-5 mt-n1 me-2"></i>Staff members </h2>
             -->
             <!-- Sorting-->
            <div class="d-sm-flex align-items-center justify-content-between pb-4 mb-sm-2">
                <div class="d-flex align-items-center">
                <label class="fs-sm me-2 pe-1 text-nowrap" for="sorting"><i class="fi-arrows-sort mt-n1 me-2"></i>Sort by:</label>
                <select class="form-select form-select-sm" id="sorting">
                    <option>Newest</option>
                    <option>Popular</option>
                    <option>Highest Salary</option>
                </select>
                </div>
                <div class="text-muted fs-sm text-nowrap">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#add-staff-member" class="btn btn-primary">Add staff member</button>
                </div>
            </div>
            
            {% if staff_members %}
              <div class="d-flex flex-sm-row flex-column px-0">
                  
                  <!-- Light table with striped rows -->
                  <div class="table-responsive border w-100 rounded-3">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th style="min-width: 250px;">Created at</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for staff_member in staff_members %}
                                  <tr>
                                      <td scope="row">
                                          <img class="rounded-circle" src="{{ staff_member.user.profile_pic.url }}" width="40" alt="Staff member">
                                      </td>
                                      <td>
                                          {{ staff_member.user.getFullName }} <br>
                                          <span class="badge rounded-pill bg-faded-accent mt-1"><small>{{ staff_member.designation }}</small></span>
                                      </td>
                                      <td>{{ staff_member.user.email }}</td>
                                      <td>{{ staff_member.user.date_joined }}</td>
                                  </tr>
                              {% endfor %}
                          
                          </tbody>
                      </table>
                  </div>

              </div>
            {% else %}
                {% include 'inc/no-result.html' with data_type='Staff member' %}
            {% endif %}
        </section>
    </div>

</div>

{% endblock section_content %}